.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    background-color: white;
    position: fixed;
    top: 20vh;
    left: 15%;
    width: 70%;
    min-height: 200px;
    max-height: 800px;
    height: auto;
    z-index: 100;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}