.task {
    min-width: 800px;
    border: 1px solid rgba(230, 218, 218, 0.5);
    box-shadow: 5px 5px rgba(202, 192, 192, 0.5);
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}
.task p {
    margin: 10px;
}

.time {
    font-size: 0.8rem;
}

.details {
    flex: 1;
    color: rgb(138, 136, 136);
    font-style: italic;
}

.day {
    text-transform: uppercase;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 3px;
    font-size: 0.8rem;
    width: 30px;
    text-align: center;
    color: gray;
}

.Mon {
    background-color: #ffadad;
}
.Tue {
    background-color: #ffd6a5;
}
.Wed {
    background-color: #fdffb6;
}
.Thu {
    background-color: #caffbf;
}
.Fri {
    background-color: #9bf6ff;
}
.Sat {
    background-color: #a0c4ff;
}
.Sun {
    background-color: #bdb2ff;
}

.done {
    text-transform: uppercase;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 3px;
    font-size: 0.8rem;
    width: 40px;
    text-align: center;
    color: gray;
}

.done:hover {
    background-color: rgb(194, 250, 110);
    cursor: pointer;
}

.edit {
    transform: rotate(45deg);
    color: gray;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
}
.delete {
    color: gray;
    cursor: pointer;
}

.done-task {
    opacity: 0.7;
    text-decoration: line-through solid gray;
}

