form {
    display: flex;
    flex-direction: column;  
    justify-content: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

input {
    width: 90%;
    margin-top: 5px;
    line-height: 25px;
}

select {
    width: 92%;
    line-height: 200%;
    padding: 6px;
}

.time {
    display: flex;
    justify-content: center;
}

.time input {
    width: 150px;
}

form button {
    width: 50%;
    margin-bottom: 10px;
    align-self: center;
    padding: 10px;
    font-family: inherit;
    font-weight: bold;
    border: 1px solid black
}

button:hover{
    cursor: pointer;
}

button:disabled {
    background-color: lightgray;
    border: 1px solid lightgray;
    cursor: initial;
}

.add {
    background-color: rgb(193, 235, 130);
}

.cancel {
    background-color: rgb(252, 132, 132);
}