.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.add-button {
  padding: 5px;
  min-width: 800px;
  border: 1px solid rgb(133, 169, 216);
  box-shadow: 5px 5px rgba(202, 192, 192, 0.5);
  background-color: lightsteelblue;
  color: rgb(133, 169, 216);
  font-family: inherit;
  font-weight: bold;
  font-size: 4rem;
}